

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; /* Medium for headings */
}

p, a, li, span {
  font-weight: 400; /* Regular weight for body text */
}

button {
  font-weight: 600; /* Slightly bold for buttons/CTAs */
}


body{
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  background-color: #F9F9F9;
  margin: 0; /* Remove any default margin from the body */
  padding: 0;
}

/* header start */
#header{
  background-color:#D8B4FE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  margin: 0%;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 position: sticky;
 top: 0%;
 left: 0%;

}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
 position: sticky;
 z-index: 10;
}
#navbar li{
  list-style: none;
  padding:0% 20px;  
  position: relative;
}
#navbar li a{
  text-decoration: none;
  height: 16px;
  width: 600;
  color: #1E293B;
  transition: 0.3s ease;
}
#navbar li a:hover,#navbar li a.active{
  color: #3B82F6;
}


#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  height: 2px;
  width: 30%;
  background: white;
  bottom: -2px;
  left:20px; 
  position: absolute;
}

/* start home  */
#home{
  background-image: url("img/hero4.png");
  width: 100;
  height: 90vh;
  background-size: cover;
  background-position: top 25% , right 0;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  flex-direction:column;
  padding: 0 80px;
}
#home h1{
  font-size: 50px;
  color: #3B82F6;
  padding-top: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
}
#home h2{
  font-size: 40px;
 padding-bottom: 5px;
 margin-bottom: 0%;
 margin-top: 0%;
}
#home h4{
  font-size: x-large;
  margin-bottom: 5px;
}
#home h6{
  font-size:medium;
  margin-top: 15px;
  color:#6b6c6e;
}
#home button{
  background-image: url(img/button.png);
  background-color: transparent;
  border: none;
  color: #3B82F6; 
  background-size: cover;
  padding: 14px 80px 14px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 15px;
  font-weight: 80;

}

/* feature section start */
#feature {
 flex-wrap: wrap;
  width: 95%;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#feature .fe-box{
  width: 160px;
  height:180px ;
  text-align: center;
  padding: 25px 15px;
box-shadow: 15px 15px 30px #D8B4FE;
border: 1px #D8B4FE; 
  border-radius: 5px;
  margin: 15px 0px;
  background-color:#D4B4FE

}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px #D8B4FE;
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  font-size: medium;
  background-color: #E3E6F3;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 80%;
}